
# Archivos de configuración del IDE y del sistema
.DS_Store
.idea
.vscode/

# Archivos de compilación y temporales de Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Archivos de paquetes de Dart/Flutter
.pub/
.pub-cache/

# Registros y diagnósticos
*.log

# Dependencias de Node.js
node_modules/
npm-debug.log
yarn-error.log

# Archivos sensibles
# ¡MUY IMPORTANTE! Ignorar claves de servicio de Firebase.
*.json

# Excepciones: No ignorar archivos JSON que SÍ deben estar en el repo
!firebase.json
!package.json
!package-lock.json
!devtools_options.yaml
!analysis_options.yaml
!/.idx/integrations.json
!/.idx/mcp.json
!web/manifest.json
